* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}

body {
	background: #4b6cb7; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(-130deg, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html, body {
	height: 100%;
}


#flex {
  display: flex;
  align-items: center;
  justify-content: center;
	height: 100%;
}

#wrapper {
	width: 840px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 20px;
	line-height: 1.3;
	font-size: 1.2rem;
	text-align: center;
}

img {
	max-width: 100%;
	width: 400px;
	height: auto;
}

p {
	text-transform: uppercase;
	font-size: 15px;
}
